In [1]:
d = print("hello")
d

hello

In [7]:
import pandas as pd
df = pd.read_csv('atul.csv')
df

    age   gender    subject
0     11       1        SST
1     12       1        SST
2     15       1        SST
3     16       1      Maths
4     18       1      Maths
5     20       1      Maths
6     21       1     python
7     24       1     python
8     25       1     python
9     10       0    science
10    13       0    science
11    14       0    science
12    16       0  Economics
13    18       0  Economics
14    20       0  Economics
15    21       0        c++
16    24       0        c++
17    25       0        c++

In [9]:
import pandas as pd
df = pd.read_csv('atul.csv')
df.values

array([[11, 1, 'SST'],
       [12, 1, 'SST'],
       [15, 1, 'SST'],
       [16, 1, 'Maths'],
       [18, 1, 'Maths'],
       [20, 1, 'Maths'],
       [21, 1, 'python'],
       [24, 1, 'python'],
       [25, 1, 'python'],
       [10, 0, 'science'],
       [13, 0, 'science'],
       [14, 0, 'science'],
       [16, 0, 'Economics'],
       [18, 0, 'Economics'],
       [20, 0, 'Economics'],
       [21, 0, 'c++'],
       [24, 0, 'c++'],
       [25, 0, 'c++']], dtype=object)